name: Release

# on:
#   push:
#     tags:
#       - "v*.*.*"   # triggers on v1.0.0, v1.2.3, etc.
on:
  push:
    branches:
      - main
      
jobs:

  deploy-create-share:
    name: Create Share function
    uses: ./.github/workflows/deploy-function.yml
    with:
      function_name: Create Share
      function_id: 699409a9001382e4e9f2    # ← replace with your Appwrite function ID
      function_dir: functions/createShare
      entrypoint: src/main.js
    secrets:
      APPWRITE_ENDPOINT: ${{ secrets.APPWRITE_ENDPOINT }}
      APPWRITE_PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
      APPWRITE_API_KEY: ${{ secrets.APPWRITE_API_KEY }}

  deploy-get-share:
    name: Get Share function
    uses: ./.github/workflows/deploy-function.yml
    with:
      function_name: Get Share
      function_id: 69933e60002c3f6881d7       # ← replace with your Appwrite function ID
      function_dir: functions/getShares
      entrypoint: src/main.js
    secrets:
      APPWRITE_ENDPOINT: ${{ secrets.APPWRITE_ENDPOINT }}
      APPWRITE_PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
      APPWRITE_API_KEY: ${{ secrets.APPWRITE_API_KEY }}
